.page > .section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(25vh);
}
.loading-indicator {
  border-color: transparent;
}

.post-item {
  background-color: #f5fdff;
  box-shadow: 0px 2px 3px #00b1d1, 0 0 0 1px #00b1d1;
  color: #0A0A0A;
}

.post-item .feather {
  margin-right: 4px;
  width: 16px;
  height: 16px;
  color: grey
}

.post-link {
  margin-bottom: 1rem;
}

.post-contents {
  margin-bottom: 0.5rem;
}

.post-link .domain {
  color: grey;
}

.post-stats span, .post-stats a {
  margin-right: 1rem;
}

.post-stats span {
  color: grey;
}

.post-stats .feather {
  width: 14px;
  height: 14px;
}
